#IDEs
#.vscode we need the launch.json to configure the remote debugger
.idea

# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# gorm sqlite local
test.db
test.yaml

#Omit dependencies directory
vendor

# possible application binaries
cmd/app/__debug_bin

# folder for project dependencies managed by tilt
dependencies